html, body {
    height: 6000px;
    width: 100%;
  }

  body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  } 

.container-fluid img {
    width: 100px;
    height: auto;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: blue;
    opacity: 0.5; /* Firefox */
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }

  h4 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 28;  
  }

  h4:hover {
    color: blue;
    font-weight: bold;
  }
  
  form div {
    margin-bottom: 1em;
  }

  .myimage {
      width: 400px;
  }
  .myimage:hover { opacity: 0.7;}

  .div_center {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  hr.rounded { 
    border-top: 4px solid blue;
    border-radius: 5px;
  }

  /* The Modal (background) */
.modal {
  display: none;  /* none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */ 
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 45px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.question_nav {  
  margin-left:12px;
  margin-right:12px; 
}